*{
    background-color: #AAAAAA;
}
/* nav */

nav{
    display: flex;
    width: 83%;
    margin: auto;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-between;
}
nav li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav li a{
    color: #1d1d24;
	text-decoration: none;
    position: relative;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav li a:hover{
    color: #fd9947;
}

/* first */

/* mid */


   /* secondmid  */
.secondmid h2{
    text-align: center;
}
.first h1{
    color: #E1701A;
    text-align: center;
    font-size: 48pt;
    font-family: Snell Roundhand, cursive;
    font-weight:bolder;
}
.secondmid h2{
    color: #E1701A;
    font-weight: bold;
}
.secondmid .swiper-container{
	min-height: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;  
}
.swiper-wrapper{
	display: flex;
	justify-content: space-between;
	overflow:auto;
    margin-left: 200px;
    margin-right: 200px;

}
.swiper-slide{
    position: relative;
	height: 160px;
    background: #E1701A;
    width: 0%;
}

/* Clients */
.Clients h3{
    color: #E1701A;
    text-align: center;
}
.Clients img{
    display:inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
}

/* Work */
.work{
    text-align: center;
}
.Work h4{
    color: #E1701A;
}

/* Contact */
.Contact{
    text-align: center;
}
.Contact h2{
    color: #E1701A;
}
.Contact h3{
    color: #E1701A;
}
/* social */
.social{
    text-align: center;
}
.social a{
    color:aliceblue;
}
