*{
    background-color: #AAAAAA;
    margin: 0px;
}
html{
    scroll-behavior:smooth;
}
/* nav */
nav ul{
    display: flex;
    justify-content: right;
    margin: 0px 600px;    
}
.nav .logo2{
    background-color:#E1701A;
}
nav ul li{
    list-style: none;
    margin: 0px 45px ;
    background-color: #E1701A;
}
nav li a{
    color: #fbfbfe;
	text-decoration: none;
    position: fixed;
    padding: 10px;
    top: 20px;
    width: 53px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav li a:hover{
    color: #e2f4ad;
}

/* first */
.first{
    padding-top: 50px;
}
/* mid */
.mid iframe{ 
    background-color: transparent;
    margin: 50px 0px 50px 0px;
}


   /* secondmid  */
.secondmid h2{
    text-align: center;
    margin: 0px 0px 50px 0px;
}
.first h1{
    color: #E1701A;
    text-align: center;
    font-size: 48pt;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:1;
    border: 2px solid #E1701A;
    right: 20px;
}
.secondmid h2{
    color: #E1701A;
    font-weight: bold;
}
.secondmid .swiper-container{
	min-height: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;  
}
.swiper-wrapper{
	display: flex;
	justify-content: space-between;
	overflow:auto;
    margin-left: 200px;
    margin-right: 200px;

}
.swiper-slide{
	height: 160px;
    background: #E1701A;
    width: 0%;
}

/* Clients */
.Clients h3{
    color: #E1701A;
    text-align: center;
    margin: 50px 0px 50px 0px;
}
.Clients img{
    display:inline-block;
    border-radius: 25px;
    width: 100px;
    height: 100px;
    padding: 5px;
}

/* Work */
.work{
    text-align: center;
}
.Work h4{
    color: #E1701A;
}

/* Contact */
.Contact{
    text-align: center;
}
.Contact h2{
    color: #E1701A;
}
.Contact h3{
    color: #E1701A;
}
/* social */
.social{
    text-align: center;
}
.social a{
    color:aliceblue;
    font-size: 2.5em;
}
