@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&family=Grape+Nuts&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Advent Pro', sans-ser;
}
body{
    background-color: #ffc745;
}
/* header */

li, a, button{
    font-weight: 1000;
    font-size: 20px;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 20px 20px;

}

/* ----------------------------------------------------------------------------------------------------------------------------------------- */


.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    border: none;
    background-color: transparent;
    display: inline-block;
    padding: 0px 10px;
    transition: 0.3s;
    color: black;
    
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: #FFB72B;
    font-size: 30px;
    background-color: #333;
    border-radius: 25px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 50%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    background-color: #ffffff;
    width: 25%;
    margin-top: 0px;
    text-align: center;
    left: 30%;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;

  }
  .dropdown .row ul a{
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 10px;
    text-align: center;

  }
  .dropdown .row ul a:hover{
      background-color: #FFB72B;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Create three equal columns that floats next to each other */
  
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
    }
  }
  
/* ---------------------------------------------------------------------------------------------------------------- */






.logo{
    height: 70px;
    width: 115px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    color: black;

}
.nav_links li a:hover{
    color: #FFB72B;
    background-color: #333;
    border-radius: 25px;
    font-size: 30px;
    padding-left: 20px ;
    padding-right: 20px;
}

.cta button{
    padding: 9px 25px;
    background-color:#FFB72B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 2px 1px black;
    transition: all 300ms ease 0s;
}
.cta button:hover{
    background-color: #ffbf2f   ;
    border-radius: 50px;
    box-shadow: 0 0 2px 1px black;
}
/* section */
#zabs{
    color: orange;
    text-shadow: 2px 2px black
}
.heading{
    color: white;
    font-size: 29pt;
    text-align: center;
    margin-left: 90%;
    writing-mode: vertical-lr;
    text-orientation: upright; 
    text-shadow: 2px 2px black;
}

/* h1 hi class */
.hi{
    display: inline-block;
    font-size: 80pt;
    transition: 300ms;
}
.hi:hover{
    color: orange;
}
.hi::after {
    content: '';
    width: 0px;
    height: 10px;
    display: block;
    background: orange;
    transition: 300ms;
}
.hi:hover::after {
    width: 100%;
    text-decoration: underline;   
}
.about #IN{
    color: #FF9933;

}
.about #D{
    color: #FFFF;

}
.about #IA{
    color: #138808;

}

.about{
    font-size: 20pt;
    color: white;
    background-color: #333;
    width: 400px;
    border-radius: 25px;
    box-shadow: 4px 8px grey; 
    padding: 2%;
    margin-top: 100px;
    margin-left: 100px;
    position: absolute;
    top: 70px;
    transition: 300ms;
}
.about:hover{
    box-shadow: 8px 16px grey;
}


/* Footer */
footer {
    background-color: #333;
    margin: 0px;
    border-radius: 20px 20px 0px 0px;
    transition: 0.6s;
    color: aliceblue;
    text-align: center;
}
footer:hover{
    background:#685736;
    
}
/* contact card */
.details{
    text-align: center;
    font-size: 30pt;
}
.contact{
    list-style: none;
    justify-content: space-between;
    margin: auto;
    width: 220px;


}
#name, #email, #number, #mess{
    padding: 6px;
    font-size: 20pt;
    border-radius: 15px;
    border: none;
    display: inline-block;
    background-color: aliceblue;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    
}
#name, #email, #number, #mess{
    resize: horizontal;
    width: 200px;
}
input:focus {
    border: 3px solid rgb(0, 0, 0);
    background-color: #138808;
  }

#mess{
    padding: 50px;
}

  